<!DOCTYPE html>
<html lang="en">

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <title>Trackers Page - training-python</title>
    <meta charset="utf-8"/>
    {% load static %}
    <link rel="stylesheet" type="text/css">
</head>

<body class="body" style="background-color:#f6f6f6">
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Home</a>
</nav>
<div class="container">
    <div class="jumbotron">
        <h1>Trackers</h1>
        <div>
            <form>
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form.name.errors }}
                        <label for="{{ form.name.id_for_label }}">Name: </label>
                        {{ form.name }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form.unit.errors }}
                        <label for="{{ form.unit.id_for_label }}">Unit: </label>
                        {{ form.unit }}
                    </div>
                    <div class="form-group col-md-7">
                        {{ form.description.errors }}
                        <label for="{{ form.description.id_for_label }}">Description: </label>
                        {{ form.description }}
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Create">
            </form>
        </div>
        <hr />
        {% if trackers_list %}
            <ul id="trackers-list" class="list-group">
                {% for tracker in trackers_list %}
                    <li class="list-group-item"><a
                            href="{% url 'tracker:tracker_detail' tracker.id %}">{{ tracker.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No trackers</h3>
        {% endif %}
    </div>
</div>
</body>

</html>
