<!DOCTYPE html>
<html lang="en">

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <title>Home Page - training-python</title>
    <meta charset="utf-8" />
</head>

<body class="body" style="background-color:#f6f6f6">
<div class="jumbotron">
    <h1>{{msg}}</h1>
        {% buttons %}
        <button class="btn btn-primary">Button</button>
        {% endbuttons %}
    </form>
</div>
</body>

</html>
