<!DOCTYPE html>
<html lang="en">

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <title>Home Page - training-python</title>
    <meta charset="utf-8"/>
</head>

<body class="body" style="background-color:#f6f6f6">
{% include "home/navbar.html" %}
<div class="container">
    <div class="jumbotron">
        {% if not request.user.is_authenticated %}
        <h1>Welcome!</h1>
        <h2>Please login to view content</h2>
        {% buttons %}
        {% load socialaccount %}
        {% providers_media_js%}
        <a class="btn btn-primary" href="{% provider_login_url 'google' %}">Login</a>
        {% endbuttons %}
        {% else %}
        <h1>Welcome, {{ user.username }}!</h1>
        <p>See your <a href="{% url 'core:user' user.id %}">profile</a></p>
        {% endif %}
    </div>
</div>
</body>

</html>
