{% load socialaccount %}
{% providers_media_js%}
{% if accounts != null %}
{% get_social_accounts user as accounts %}
{% endif %}

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'core:index' %}">training-python</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'core:index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:users' %}">Users</a>
        </li>

    </ul>
    <div class="mt-2 mt-md-0">
        {% if not request.user.is_authenticated %}
        <span class="navbar-text">
                <a class="nav-link" href="{% provider_login_url 'google' %}">Login</a>
            </span>
        {% else %}
        {% if notes_due_quantity > 0 %}
        <a href="{% url 'notes:user_notes' %}" type="button" class="btn btn-primary">
            Notifications <span class="badge badge-danger">{{ notes_due_quantity }}</span>
        </a>
        {% endif %}
        <span class="navbar-text">
                <a class="nav-link" href="{% url 'core:user' user.id %}">Logged as: {{ user.username }}</a>
            </span>
        <span class="navbar-text">
                <a class="nav-link" href="{% url 'core:logout' %}">Logout</a>
            </span>
        {% endif %}
    </div>
</nav>