<!DOCTYPE html>
<html lang="en">

{% load socialaccount %}
{% providers_media_js%}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <title>Users - training-python</title>
    <meta charset="utf-8"/>
</head>

<body class="body" style="background-color:#f6f6f6">
{% include "home/navbar.html" %}
<div class="container">
    <div class="jumbotron">
        <h2>{{ user.username }}</h2>
        {% if request.user.id == request.resolver_match.kwargs.pk %}
        <p>
            User <a href="{% url 'core:user_configuration' %}">configuration</a>
        </p>
        <p>
            Your <a href="{% url 'notes:user_notes' %}">notes</a>
        </p>
        {% endif %}
        <hr/>
        <p>Email: {{ user.email }}</p>
        <hr/>
        <h2>Configuration</h2>
        {% for key, value in user.get_user_configuration.configuration.items %}
            <p>{{key}} : {{ value }}</p>
        {% endfor %}
    </div>
</div>
</body>

</html>
