<!DOCTYPE html>
<html lang="en">

{% load socialaccount %}
{% providers_media_js%}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <title>Users - training-python</title>
    <meta charset="utf-8"/>
</head>

<body class="body" style="background-color:#f6f6f6">
{% include "home/navbar.html" %}
<div class="container">
    <div class="jumbotron">
        <h2>Users</h2>
        {% if users %}
        <ul>
            {% for user in users %}
            <li>{{ user.username }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No users registered.</p>
        {% endif %}
    </div>
</div>
</body>

</html>
